body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar-manager {
    background-color: green;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-content-manager {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.logo-manager {
    height: 40px;
    position: relative;
}

.main-content {
    flex: 1; /* Fai espandere la main-content per riempire lo spazio rimanente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto della main-content */
    justify-content: normal; /* Centra verticalmente */
    max-width: 600px; /* Limita la larghezza massima della main-content */
    width: 100%; /* Utilizza tutta la larghezza disponibile */
    box-sizing: border-box; /* Considera il padding e il bordo nel calcolo della larghezza */
    padding: 20px;
    margin: 0 auto; /* Centra la main-content */
}

.main-content label {
    margin-top: 10px;
    font-weight: bold;
    text-align: center; /* Centra il testo della label */
}

.main-content input {
    width: 100%;
    max-width: 400px; /* Limita la larghezza massima dell'input */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.main-content button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px; /* Ridimensiona il pulsante */
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.main-content button:hover {
    background-color: darkgreen;
}

.emails-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    width: 200%;
    max-width: 600px; /* Limita la larghezza massima della lista */
}

.emails-list h2 {
    margin-top: 0;
    text-align: center;
}

.emails-item {
    display: list-item;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.emails-item:hover {
    background-color: #f0f0f0;
}

.emails-item.selected {
    background-color: #e0e0e0;
}

.emails-item input[type="checkbox"] {
    margin-right: 300px;
}

.emails-actions {
    margin-top: 20px;
    text-align: center;
}

.back-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10px; /* Posiziona il pulsante "Back" all'estrema sinistra */
    padding: 8px 16px; /* Imposta il padding per ridimensionare il pulsante */
    font-size: 16px;
    border-radius: 4px; /* Aggiunge un bordo arrotondato, se necessario */
    max-width: 100px;
}


.error-message {
    color: red;
    margin-top: 10px;
}
